body {
  box-sizing: border-box;
  background-color: black;
}

.navbar {
  display: flex;
}

.google-logo {
  max-width: 92pt;
  max-height: 30pt;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0px solid white;
  border-radius: 15px;
  padding: 8px;
}

.search-box > input {
  border: 0;
}

.search-box > input:focus {
  border: 0;
  outline: none;

}